__pycache__/
*.pyc
*.pyo
*.egg-info
.eggs/
venv/
.env
.flaskenv
*.db
*.sqlite
.migrations/
.idea/
.vscode/
*.log
*.pid
*.pot
.DS_Store
Thumbs.db
node_modules/
package-lock.json
.pytest_cache/
.coverage
