{% extends "layout.html" %}
{% block title %}
Tickets
{% endblock %}
{% block content %}
<h3>(Where the tickets would go)</h3>

<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }
    th {
      background-color: lightgrey;
    }
</style>

<table style="width:100%">
    <tr>
      <th>Ticket Name</th>
      <th>Ticket Date</th> 
      <th>Department</th>
    </tr>
    <tr>
      <td>Big Bug in Code</td>
      <td>Right now</td>
      <td>Everyone!!</td>
    </tr>
  </table>
{% endblock %}