{% extends "layout.html" %}
{% block title %}
Tutorial
{% endblock %}
{% block content %}
<p>Probably a place for user sign in.</p>
<h2>Sign In:</h2>
<form method="post">
    {{ form.hidden_tag() }} <!-- Need for CSRF token -->
    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=30) }}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=30) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

<div class="body-content">Don't have an account? Register here: </div>
<button onclick="location.href='{{ url_for('register') }}'">Register</button>
{% endblock %}