{% extends "layout.html" %}
{% block title %}
Tutorial
{% endblock %}
{% block content %}
<p>Probably a place for user sign in.</p>
<h2>Sign In:</h2>
<form action="{{ url_for('dashboard')}}" method="post">
    {{ form.hidden_tag() }} <!-- Need for CSRF token -->
    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=30) }}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=30) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>


<!--
<form action="/action_page.php">
    <label for="user">User name:</label><br>
    <input type="text" id="user" name="user" value=""><br>
    <label for="pass">Password:</label><br>
    <input type="text" id="pass" name="pass" value=""><br><br>
    <input type="submit" value="Submit">
  </form> -->
<div class="body-content">Don't have an account? Register here: </div>
<button onclick="location.href='{{ url_for('register') }}'">Register</button>
{% endblock %}