<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Ticket System{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        
        <img
            align="right"
            src="{{ url_for('static', filename='images/cworn.jpg') }}"
            class="image"
            width="60"
            height="60"
        />
    </head>

    <body>
        <title>Ticketing System</title>
        <h1>Corn Ticketing System</h1>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('tickets') }}" class="navbar-item">Tickets</a>
            <a href="{{ url_for('submit_ticket') }}" class="navbar-item">Request</a>
            <button id="dark-mode-toggle" aria-label="toggle dark mode" class="text-right">Toggle Dark Mode</button>
        </div>
        <div>
            {% if current_user.is_authenticated %}
                User: {{ current_user.username }}
            {% else %}
                <a href="{{ url_for('home') }}">Login</a>
            {% endif %}
        </div>
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>Team Corn, LLC. &copy; 2023</p>
            </footer>
        </div>

    <script src="{{ url_for('static', filename='js/darkmode.js') }}"> </script>
    </body>
</html>