{% extends "layout.html" %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
<p>Probably a place for user to sign up.</p>
<h2>Sign Up</h2>
<form action="" method="post">
    <!--create object of sign up form class, pass form obj into view using Jinja, refer to form.___ after-->
    <p>
        {{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
    <p>
        {{form.email.label}} <br>
        {{form.email(size=30)}}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=30)}}
    </p>
    <p>
        {{form.role.label}} <br>
        {% for option in form.role %}
            {{ option }} {{ option.label }}
        {% endfor %}
    </p>
    <p>
        {{form.dept.label}} <br>
        {% for option in form.dept %}
            {{ option }} {{ option.label }}
        {% endfor %}
    </p>
    <p>{{form.submit}}</p>
</form>

<button onclick="location.href='/'">Cancel / Back</button>
{% endblock %}